#sideNavPanel {
  position:relative !important;
  border-left: 0.3vw solid gray;
  border:0px solid green;
}
#sideNavPanel ul {
  position:sticky !important;
  top:9vw !important;
  left:2vw;
}
#sideNavPanel a {
  color: #4c4b4b;
  border-left: 0.3vw solid hsl(0, 1%, 70%) !important;
}
#sideNavPanel a:hover {
  color: hsl(0, 0%, 30%);
}
#sideNavPanel .active {
  border-left: 0.3vw solid royalblue !important;
  color: hsl(0, 0%, 1%);
} 